<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="NETStandard.Library" version="2.0.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Toasts.Forms.Plugin-PCL" version="3.3.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xam.Plugin.Connectivity" version="4.0.0-beta139" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xam.Plugins.Forms.ProgressRing" version="0.1.2" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Firebase.Core" version="60.1142.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.5.1.444934" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>