<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
    <string>ca-app-pub-3940256099942544/2934735716</string>
    <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
    <string>ca-app-pub-3940256099942544/4411468910</string>
    <key>CLIENT_ID</key>
    <string>810661396254-3nbv97g3qo6kegh6cv1mo2bh64115d9g.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.810661396254-3nbv97g3qo6kegh6cv1mo2bh64115d9g</string>
    <key>API_KEY</key>
    <string>AIzaSyBGrbYt9Ze6I8eaXkW45PuJ82T0MFkKZFU</string>
    <key>GCM_SENDER_ID</key>
    <string>810661396254</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>KDRBusser.iOS</string>
    <key>PROJECT_ID</key>
    <string>resturantbusser</string>
    <key>STORAGE_BUCKET</key>
    <string>resturantbusser.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <true></true>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:810661396254:ios:eb3ccab1f057c3fb</string>
    <key>DATABASE_URL</key>
    <string>https://resturantbusser.firebaseio.com</string>
  </dict>
</plist>